@using Avtobus1.Models

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="top-content">
        <h1>Links</h1>
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Create">Create short link</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Short name</th>
                <th>Redirects</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Link link in ViewBag.Links)
            {
                <tr>
                    <td>@link.Name</td>
                    <td>@link.ShortName</td>
                    <td>@link.Redirects</td>
                    <td>@link.CreatedAt</td>
                    <td>
                        <a class="fa fa-edit action-link" style="color: deepskyblue;"
                            asp-controller="Home"
                            asp-action="Edit"
                            asp-route-id="@link.Id"></a>
                        <a class="fa fa-trash-o action-link delete-link"
                            style="color: red;"
                            id="@link.Id">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.querySelectorAll(".delete-link").forEach(item => {
        item.addEventListener("click", async (event) => {
            await fetch("/api/links/" + item.getAttribute("id"), {
                method: "delete"
            })
                .then(async (response) => {
                    let body = await response.text();
                    if (response.ok)
                    {
                        alert(body);
                        document.location.reload();
                        return;
                    }
                    alert("Deleting error: " + body);
                })
                .catch(err => alert("Error: " + err))
        });
    });
</script>
